<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Reserva FTIC{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('images/R-Logo.png') }}?v=20260611-1">
        <link rel="apple-touch-icon" href="{{ asset('images/Reserva-Logo.png') }}?v=20260611-1">
        {% block stylesheets %}
        {% endblock %}



        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
    </body>
</html>
